/* Light Theme */

body
{
    --PageBackground: white;
    --PageForeground: black;
    
    --AccentColor: #D67CA7;

    --ParagraphForeground: rgba(0, 0, 0, 0.7);
    
    --HyperlinkForeground: var(--AccentColor);
}