/* Light Theme */

body
{
    --PageBackground: white;
    --PageForeground: black;
    
    --ParagraphForeground: rgba(0, 0, 0, 0.7);
    
    --HyperlinkForeground: #E70;
    --VisitedHyperlinkForeground: #C50;
}