@charset "utf-8";

@use "Colors";
@use "Navigation";
@import "/Assets/Fonts/ImportAll.css";

body, html, main, .PageContent
{
    height: 100%;
}

//* { margin: 0 }

body
{
    margin: 0;

    background-color:   var(--PageBackground);
    color:              var(--PageForeground);

    /*@media (max-width: 23.75rem)
    {
        font-size: 0.92rem;
    }*/
}

span.StylizedUsername
{
    font-family: "Le Murmure", sans-serif;
}

main
{
    display: flex;

    /* Goes to middle of screen. */
    margin: auto;
    width: fit-content;

    div.PageContent
    {
        padding: 1.5em;
        box-sizing: border-box;

        max-width: 32em;
        width: 100vw;
    }

    &[CurrentPage="home"]
    {
        div.PageContent {
            @media (max-width: 64em) {
                height: 100%;
                align-items: flex-end;
            }
            display:flex;
            gap:1.5em;

            div.SideBranding
            {
                /*@media (max-height: 32em) {
                    display: none;
                }*/

                display: none;

                //display: flex;
                flex-shrink: 0;
                flex-direction: column;
                gap: 0.4em;

                font-size: 4em;
                @media (max-width: 23.75rem) { font-size: 3.5em }
                @media (max-width: 22rem) { font-size: 3em }
                transition: font-size 0.24s;

                width: 1em;

                overflow: hidden;

                img.BrillanceIcon
                {
                    width: 1em;
                }

                span.StylizedUsername
                {
                    font-size: 1.1em;

                    user-select: none;

                    writing-mode: vertical-rl;
                    text-orientation: sideways;
                    transform: rotate(180deg);
                }
            }

            div.Content
            {
                width: 100%;

                display:flex;
                flex-direction:column;
                align-items: center;

                @media (max-width: 64em) {
                    padding-bottom: 4em;
                }

                h1 {
                    //font-family: Resistance;
                    font-family: "Le Murmure", sans-serif;
                    font-size: 4em;
                    margin: 0.3em 0 0.2em;
                    font-weight: 400;
                }

                p {
                    text-align: center;
                }

                svg.DecoratedAvatar
                {
                    g.Stars > *
                    {
                        animation: Spin 16s infinite linear;

                        &:nth-child(1) { transform-origin: 18.3px 149px; }
                        &:nth-child(2) { transform-origin: 27.7px 127.3px; }
                        &:nth-child(3) { transform-origin: 197.3px 55px; }
                        &:nth-child(4) { transform-origin: 188.4px 75px; }
                    }

                    path.Avatar {
                        animation: Tilt 5s infinite ease-in-out alternate;
                        transform-origin: center;
                    }

                    g.Paws > * {
                        animation: Disappear 1s infinite linear alternate;

                        &:last-child {
                            animation-delay: 0.24s;
                        }
                    }
                }
            }
        }
    }
}

@keyframes Spin
{
    to { transform: rotate(360deg) }
}

@keyframes Disappear
{
    to { opacity: 0 }
}

@keyframes Scintillate
{
    to {
        transform: scale(0.96);
        opacity: 0.8;
    }
}

@keyframes Tilt
{
    from { transform: rotate(-4deg) }
    to { transform: rotate(4deg) }
}

p
{
    margin: 0.3em 0;

    color: var(--ParagraphForeground);

    font-family: "Source Serif Pro", serif;

    span.Small
    {
        font-size: 0.85em;
    }
}

a
{
    color: var(--HyperlinkForeground);

    padding: 0 0.2em;
    margin: 0 -0.2em;

    border-radius: 0.2em;

    transition: 0.16s;

    position: relative;
    
    display: inline-block;

    @media not (pointer:coarse)
    {
        &:hover
        {
            color: white;

            background: var(--HyperlinkForeground);
            transition: 0.08s;
        }
    }

    /* If external link */
    &[href^="http"]
    {
        &::after
        {
            content: "↗";
        }
    }

    /* If link to mail address */
    &[href^="mailto:"]
    {
        &::after
        {
            content: "📋";
            font-family: "Noto Emoji";
        }

        &::before
        {
            content: "Click to copy :3";

            //font-family: "Le Murmure";
            font-size: 0.8em;

            position: absolute;
            left:0;
            right: 0;

            margin: auto;
            width: fit-content;

            display: block;

            margin-top: 2em;
            padding: 0.5em 1em;

            background: rgba(white, 0.5);
            border: solid rgba(black, 0.1) 0.01em;
            border-radius: 0.5em;
            backdrop-filter: blur(5px);

            pointer-events: none;

            color: var(--ParagraphForeground);

            transition: 0.24s cubic-bezier(1, 0, 0, 2);
            transition-delay: 0.24s;

            @media (pointer:coarse)
            {
                display: none;
            }
        }

        &:not(:hover)::before
        {
            opacity: 0;
            transform: translateY(-1em);
            transition-timing-function: cubic-bezier(1, 0, 0, 1);
        }
    }

    &:active {
        transform: scale(0.96) !important;
        transition: 0s;
    }
}